{% extends 'base.html.twig' %}

{% block title %}Cartas{% endblock %}

{% block body %}
    <h1>Cartas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carta.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ carta.nombre }}</td>
            </tr>
            <tr>
                <th>Ataque</th>
                <td>{{ carta.ataque }}</td>
            </tr>
            <tr>
                <th>Defensa</th>
                <td>{{ carta.defensa }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ carta.descripcion }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td> <img src="{{asset('img/cartas/'~carta.foto)}}"/>
               </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cartas_index') }}">back to list</a>

    <a href="{{ path('cartas_edit', {'id': carta.id}) }}">edit</a>

    {{ include('cartas/_delete_form.html.twig') }}
{% endblock %}
